/// <mls fileReference="_102031_/l2/www/en/about.less" enhancement="enhancementStyle"/>

www--en--about-102031 {

    body { font-family: 'Inter', sans-serif; scroll-behavior: smooth; }

    .logo-c { 
        height: 40px; 
        vertical-align: middle; 
        display: inline-block; 
        margin-top: -6px; 
    }

}


