/// <mls fileReference="_102031_/l2/www/en/corporate.less" enhancement="enhancementStyle"/>

www--en--corporate-102031 {

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

    @font-primary: 'Inter',
    sans-serif;

    font-family: @font-primary;
    font-weight: 400;

    .logo-c { 
        height: 40px; 
        vertical-align: middle; 
        display: inline-block; 
        margin-top: -6px; 
    }

}


